
#container {
  overflow: hidden;
  width: 100%;
}

#inner {
  overflow: hidden;
  width: 100%;
}

.child {
  float: left;
 /* background-color: blue;*/
  width: 40%;
  height: auto;
}

.child-2 {
  float: left;
  width: 40%;
  height: auto;
  margin-left: 20%;
}